<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>

    <!-- Use the 'title' property to render a page title  -->
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>

<% for(var i in messages) { %>
<div class="flash"><%= messages[i] %></div>
<% } %>

<div class="list-group">
    <div class="list-group-item">
        <span style="font-weight: bold">Name: </span> <span><%= user.fullName%></span>
    </div>
    <div class="list-group-item">
        <span style="font-weight: bold">Username: </span><span><%=user.username%></span>
    </div>
    <div class="list-group-item">
        <span style="font-weight: bold">E-Mail: </span><span><%=user.email%></span>
    </div>
    <div class="list-group-item">
        <span style="font-weight: bold">Member Since: </span><span><%=user.created%></span>
    </div>

</div>



</body>
</html>